# Ambiente virtual
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Banco de dados local
db.sqlite3

# Variáveis de ambiente
.env

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos do VS Code (opcional)
.vscode/