<form method="POST" enctype="multipart/form-data"><br>
    {% csrf_token %}

    <label>Título</label><br>
    {{ form.titulo }} <br>

    <label>Descrição</label><br>
    {{ form.descricao }}<br>

    <label>Data</label><br>
    {{ form.data }}<br>

    <label>Horário</label><br>
    <input type="time" name="horario"><br>

    <label>Local</label><br>
    {{ form.local }}<br>

    <label>Categoria</label><br>
    {{ form.categoria }}<br>

    <label>Imagem</label><br>
    {{ form.imagem }}<br>
    {{ form.errors }}
    <button type="submit"><br>
        Cadastrar Evento<br>
    </button>
</form>