<!DOCTYPE html>
<html>
<head>
    <title>Meus Eventos</title>
</head>
<body>

    <h1>Meus Eventos</h1>

    <a href="{% url 'criar_evento' %}">
        Novo Evento
    </a>

    <hr>

    {% for evento in eventos %}

        <h2>{{ evento.titulo }}</h2>

        {% if evento.imagem %}
            <img
                src="{{ evento.imagem.url }}"
                width="250"
            >
        {% endif %}

        <p>
            <strong>Categoria:</strong>
            {{ evento.categoria }}
        </p>

        <p>
            <strong>Local:</strong>
            {{ evento.local }}
        </p>

        <p>
            <strong>Data:</strong>
            {{ evento.data }}
        </p>

        <p>
            {{ evento.descricao }}
        </p>

        <a href="{% url 'editar_evento' evento.id %}">
            Editar
        </a>

        <a href="{% url 'excluir_evento' evento.id %}">
            Excluir
        </a>

        <hr>

    {% empty %}

        <p>Você ainda não cadastrou nenhum evento.</p>

    {% endfor %}

</body>
</html>