body{
    font-family: Arial, sans-serif;
    background-color: red;
}

h1{
    color: #1e88e5;
}

a{
    text-decoration: none;
    color: #1565c0;
    margin-right: 10px;
}

img{
    border-radius: 10px;
}

.topo{
    background-color: #7BA9A8;
    padding: 20px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo h1{
    color: white;
    margin: 0;
    font-size: 28px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu span{
    color: white;
    font-weight: bold;
}

.card{
    border: none;
    border-radius: 12px;
}

.card-img-top{
    height: 250px;
    object-fit: cover;
}

.card-title{
    color: #5e8e8d;
}

.container h2{
    color: #7BA9A8;
    font-weight: bold;
}