<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
</head>
<body>
    <h1>cadastro</h1>
    <form action="{% url 'cadastro' %}" method="POST">{% csrf_token %}

        <input type="text" name="username" placeholder="nome">
        <br>
        <br>
        <input type="email" name="email" placeholder="e-mail">
        <br>
        <br>
        <input type="password" placeholder="senha"name="password">
        <br>
        <br>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>

