<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="{% url 'login' %}" method="POST">{% csrf_token %}

        <input type="text" name="username" placeholder="nome">
        <br>
        <br>
        <input type="password" placeholder="senha"name="senha">
        <br>
        <br>
        <input type="submit" value="Logar">
    </form>
</body>
</html>

